.headerContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 90vw;
  padding: 20px 0;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  color: #4848BD;
  font-size: 36px;
}