.board {
  width: 90vw;
  height: calc(100vh - 95px);
  margin: 0 auto;
}

.breadcrumbs li {
  display: inline-block;
  list-style: none;
  cursor: pointer;
}

.activeList {
  text-decoration: underline;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  height: 25px;
  margin: 20px 0;
  padding: 0;
  justify-content: start;
  color:#3D3D3D;
  gap: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}

.separator {
  width: 20px;
  height: 1px;
  background-color: #3D3D3D;
}