.board {
  width: 90vw;
  height: calc(100vh - 95px);
  background-color: rgb(186, 229, 229);
  margin: 0 auto;
}

.breadcrumbs li {
  display: inline-block;
  list-style: none;
}

.activeList {
  text-decoration: underline;
}

.breadcrumbs {
  display: flex;
  height: 25px;
  margin: 0;
  padding: 0;
  justify-content: start;
  background-color: blueviolet;
  color:beige
}